<?xml version="1.0" encoding="UTF-8"?>       
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">       
          
<log4j:configuration xmlns:log4j='http://jakarta.apache.org/log4j/' >       
          
    <appender name="myConsole" class="org.apache.log4j.ConsoleAppender">       
        <layout class="org.apache.log4j.PatternLayout">       
            <param name="ConversionPattern"          
                value="%m%n" />       
        </layout>    
    </appender>       
       
    <appender name="myFile" class="org.apache.log4j.RollingFileAppender">          
        <param name="File" value="othello.log" />     
        <param name="Append" value="true" />       
        <param name="MaxBackupIndex" value="10" />       
        <layout class="org.apache.log4j.PatternLayout">       
            <param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss:SSS} [%p] [%t] %c - %m%n" />       
        </layout>       
    </appender>       
             
    <logger name="CONSOLE_OUTPUT" additivity="false">       
        <level value ="info"/>         
        <appender-ref ref="myConsole" />         
    </logger>       
            
    <root>       
        <level value ="error"/>          
        <appender-ref ref="myFile"/>          
    </root>       
</log4j:configuration>  